html {
  overflow: hidden; }

body {
  overflow: hidden;
  min-height: 200px;
  width: 250px;
  color: #360a17;
  font-family: "Lucida Console", Monaco, monospace;
  -webkit-font-smoothing: subpixel-antialiased; }

.main-box {
  width: 250px;
  height: 200px; }
  .main-box span {
    display: block;
    width: 150px;
    height: 25%;
    margin: 0 auto;
    font-size: 25px; }
  .main-box img {
    height: 25%;
    width: 100%;
    margin: 30px 0; }
  .main-box .download {
    box-shadow: inset 0px 1px 3px 0px #5f5447;
    background: linear-gradient(to bottom, #837461 5%, #716557 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 84px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e; }
    .main-box .download:hover {
      background: linear-gradient(to bottom, #56514a 5%, #807a73 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
      background-color: #6c7c7c; }
    .main-box .download:active {
      position: relative;
      top: 1px; }
    .main-box .download:focus {
      outline: none; }
